@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background: #F9FBFD;
  --foreground: #1F2937;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
